:root {
  --corpo: #bdbdbd;
  --header: #ef5d19;
  --header0: #f7793f;
  --header1: #cb5119;
  --header0S: #cb6536;
  --txt: #ffffff;
  --txt0: #cececeae;
  --borda: #cccccc;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--corpo);
}

#top {
  background-color: var(--header);
  width: 100vw;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#top nav {
  display: flex;
  align-items: center;
}

#title {
  color: var(--txt);
  font-size: 45px;
  margin-left: 10px;
}

#top nav img {
  width: 50px;
  height: 50px;
}

#top a {
  text-decoration: none;
}

#top a button {
  padding: 10px 20px;
  border: none;
  background: var(--header);
  color: var(--txt);
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

#top a button:hover {
  background-color: var(--header1);
  width: 4vw;
}

#menu {
  background-color: var(--header0);
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu ul {
  display: flex;
  justify-content: center;
  height: 80%;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu ul li {
  height: 80%;
  display: flex;
  align-items: center;
}

#menu ul a {
  color: var(--txt);
  text-decoration: none;
  padding: 10px 15px;
  height: 80%;
  display: flex;
  align-items: center;
  font-size: 13px;
}

#menu ul a:hover {
  background-color: var(--txt);
  height: 3.1vw;
  border-radius: 10px;
  color: #000000;
}

#section-bloc {
  display: grid;
  margin-left: 220px;
  margin-right: 220px;
  background-color: var(--txt);
}

.section {
  display: grid;
  grid-auto-flow: column;
}

.section a {
  text-decoration: none;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.558);
  margin: 20px;
}

.section a:hover {
  border: 1px solid var(--header);
}

.section .section-produto img {
  width: 80%;
  height: 80%;
}

.section .section-produto p {
  text-align: justify;
  font-size: 15px;
  margin-top: 20px;
}

.section a .section-produto strong {
  color: #00000078;
}
.section a .section-produto .strong {
  color: #00000078;
  float: left;
}

.section a .section-produto .txt {
  display: flex;
  justify-content: center;
}

.section a .section-produto .preco {
  color: #cb6536;
  float: left;
  margin-right: 40px;
}

footer {
  background: #f0f0f0;
  width: 100vw;
  height: auto;
}

.section-produto {
  margin: 20px;
}

footer #footer-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

h4 {
  font-size: 15px;
  margin-bottom: 20px;
}

.footer-content {
  margin: 30px 40px;
}

.footer-content img {
  width: 40px;
  height: 25px;
  margin: 2.5px;
}

#footer-img {
  margin-top: 30px;
  margin-left: 30px;
}

#footer-img img {
  width: 25px;
  height: 25px;
  margin: 3px;
}

p {
  color: #808080c5;
}

#footer-cliente {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-top: 30px;
}

#footer-cliente #qr-code {
  width: 100px;
  height: 100px;
  padding: 10px;
}

#footer-cliente img {
  width: 75px;
  height: 30px;
  padding: 5px;
}

hr {
  width: 70%;
  margin-left: 15%;
}

#footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
