<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/css/RedefinirSenha.css" />
    <title>Xhopii - Redefinir Senha</title>
  </head>
  <body>
    <header>
      <img src="../src/img/logo.png" alt="Logo da Xhopii" />
      <h1>Xhopii</h1>
      <h2>Redefinir Senha</h2>
      <a href="#">Precisa de ajuda?</a>
    </header>

    <main class="main-content">
      <section class="password-container">
        <a class="back-link" href="../Login.html">
          <img src="../src/img/icon-back.png" alt="seta de retorno" />
        </a>
        <h2 class="password-title">Redefinir Senha</h2>
        <form class="password-form">
          <input
            type="password"
            placeholder="Email"
            class="input-field"
            required
          />
          <a class="password-button" href="Home.html">ENVIAR</a>
        </form>
      </section>
    </main>

    <footer>
      <section id="footer-box">
        <section class="footer-content">
          <h4>ATENDIMENTO AO CLIENTE</h4>
          <p>Central de Ajuda</p>
          <p>Como Comprar</p>
          <p>Métodos de Pagamento</p>
          <p>Garantia Xhopii</p>
          <p>Devolução e Reembolso</p>
          <p>Fale Conosco</p>
          <p>Perguntas Frequentes</p>
        </section>

        <section class="footer-content">
          <h4>SOBRE A XHOPII</h4>
          <p>Sobre Nós</p>
          <p>Políticas Xhopii</p>
          <p>Política de Privacidade</p>
          <p>Programa de Aliados da Xhopii</p>
          <p>Seja um Entregador Xhopii</p>
          <p>Ofertas Relâmpago</p>
          <p>Xhopii Blog</p>
          <p>Imprensa</p>
        </section>

        <section class="footer-content">
          <h4>PAGAMENTO</h4>
          <p>
            <img src="../src/img/Pagamento-pix.jpg" alt="" />
            <img src="../src/img/Pagamento-boleto.png" alt="" />
            <img src="../src/img/Pagamento-AM.png" alt="" />
          </p>
          <p>
            <img src="../src/img/Pagamento-Visa.png" alt="" />
            <img src="../src/img/Pagamento-Mastercard.png" alt="" />
            <img src="../src/img/Pagamento-Hipercard.png" alt="" />
          </p>
          <img src="../src/img/Pagamento-ELC.png" alt="" />
        </section>

        <section id="footer-img">
          <h4>SIGA-NOS</h4>
          <p><img src="../src/img/Logo-instagram.jpg" alt="" />instagram</p>
          <p><img src="../src/img/Logo-twitter.png" alt="" />twitter</p>
          <p><img src="../src/img/Logo-facebook.png" alt="" />facebook</p>
          <p><img src="../src/img/Logo-youtube.png" alt="" />youtube</p>
          <p><img src="../src/img/Logo-linkedin.png" alt="" />linkedin</p>
        </section>

        <section id="footer-cliente">
          <h4>ATENDIMENTO AO CLIENTE</h4>
          <img id="qr-code" src="../src/img/qr-code.png" alt="" />
          <img src="../src/img/Logo-googleplay.png" alt="" />
          <img src="../src/img/Logo-appstore.png" alt="" />
        </section>
      </section>

      <hr />

      <section id="footer-bottom">
        <p>© 2023 Xhopii. Todos os direitos reservados</p>
      </section>
    </footer>
  </body>
</html>
