<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/VisualizarClientes.css">
    <title>Xhopii - Visualizar Clientes</title>
</head>
<body>
    <header>
        <img src="../src/img/logo.png" alt="Logo da Xhopii">
        <h1>Xhopii</h1>
        <a href="Login.html">Sair</a>
    </header>

    <nav class="menu">
        <ul>
            <li><a href="Home.html">Home</a></li>
            <li><a href="CadastrarCliente.html">Cadastro Cliente</a></li>
            <li><a href="CadastrarFuncionario.html">Cadastro Funcionário</a></li>
            <li><a href="CadastrarProduto.html">Cadastro Produto</a></li>
            <li><a href="CadastrarCupom.html">Cadastro Cupom</a></li>
            <li><a href="CadastrarLoja.html">Cadastro Loja</a></li>
            <li><a href="VisualizarClientes.html">Ver Clientes</a></li>
            <li><a href="#">Ver Funcionários</a></li>
            <li><a href="VizualizarProduto.html">Ver Produtos</a></li>
            <li><a href="VizualizarLoja.html">Ver Loja</a></li>
            <li><a href="#">Ver Cupom de Desconto</a></li>
        </ul>
    </nav>
    <main class="main-content-customers">
        <section class="customers-section">
            <h3>CLIENTES</h3>
            <section class="customers-grid-view">
                <section class="customer-item-card">
                    <img src="../src/img/customer.png" alt="Michael Jackson">
                    <p class="customer-name">Michael Jackson</p>
                    <p class="customer-data">CPF: 123456789</p>
                    <p class="customer-data">Data: 29/08/1999</p>
                    <p class="customer-data">Telefone: 987675432</p>
                    <p class="customer-data">Email: Rusbehehe@gmail.com</p>
                    <p class="customer-data">Senha: alguma qualquer</p>
                    
                </section>
                <section class="customer-item-card">
                    <img src="../src/img/customer.png" alt="Michael Jackson">
                    <p class="customer-name">Michael Jackson</p>
                    <p class="customer-data">CPF: 123456789</p>
                    <p class="customer-data">Data: 29/08/1999</p>
                    <p class="customer-data">Telefone: 987675432</p>
                    <p class="customer-data">Email: Rusbehehe@gmail.com</p>
                    <p class="customer-data">Senha: alguma qualquer</p>
                </section>
                <section class="customer-item-card">
                    <img src="../src/img/customer.png" alt="Michael Jackson">
                    <p class="customer-name">Michael Jackson</p>
                    <p class="customer-data">CPF: 123456789</p>
                    <p class="customer-data">Data: 29/08/1999</p>
                    <p class="customer-data">Telefone: 987675432</p>
                    <p class="customer-data">Email: Rusbehehe@gmail.com</p>
                    <p class="customer-data">Senha: alguma qualquer</p>
                </section>
                <section class="customer-item-card">
                    <img src="../src/img/customer.png" alt="Michael Jackson">
                    <p class="customer-name">Michael Jackson</p>
                    <p class="customer-data">CPF: 123456789</p>
                    <p class="customer-data">Data: 29/08/1999</p>
                    <p class="customer-data">Telefone: 987675432</p>
                    <p class="customer-data">Email: Rusbehehe@gmail.com</p>
                    <p class="customer-data">Senha: alguma qualquer</p>
                </section>
                <section class="customer-item-card">
                    <img src="../src/img/customer.png" alt="Michael Jackson">
                    <p class="customer-name">Michael Jackson</p>
                    <p class="customer-data">CPF: 123456789</p>
                    <p class="customer-data">Data: 29/08/1999</p>
                    <p class="customer-data">Telefone: 987675432</p>
                    <p class="customer-data">Email: Rusbehehe@gmail.com</p>
                    <p class="customer-data">Senha: alguma qualquer</p>
                </section>
                <section class="customer-item-card">
                    <img src="../src/img/customer.png" alt="Michael Jackson">
                    <p class="customer-name">Michael Jackson</p>
                    <p class="customer-data">CPF: 123456789</p>
                    <p class="customer-data">Data: 29/08/1999</p>
                    <p class="customer-data">Telefone: 987675432</p>
                    <p class="customer-data">Email: Rusbehehe@gmail.com</p>
                    <p class="customer-data">Senha: alguma qualquer</p>
                </section>
                <section class="customer-item-card">
                    <img src="../src/img/customer.png" alt="Michael Jackson">
                    <p class="customer-name">Michael Jackson</p>
                    <p class="customer-data">CPF: 123456789</p>
                    <p class="customer-data">Data: 29/08/1999</p>
                    <p class="customer-data">Telefone: 987675432</p>
                    <p class="customer-data">Email: Rusbehehe@gmail.com</p>
                    <p class="customer-data">Senha: alguma qualquer</p>
                </section>
                <section class="customer-item-card">
                    <img src="../src/img/customer.png" alt="Michael Jackson">
                    <p class="customer-name">Michael Jackson</p>
                    <p class="customer-data">CPF: 123456789</p>
                    <p class="customer-data">Data: 29/08/1999</p>
                    <p class="customer-data">Telefone: 987675432</p>
                    <p class="customer-data">Email: Rusbehehe@gmail.com</p>
                    <p class="customer-data">Senha: alguma qualquer</p>
                </section>
                <section class="customer-item-card">
                    <img src="../src/img/customer.png" alt="Michael Jackson">
                    <p class="customer-name">Michael Jackson</p>
                    <p class="customer-data">CPF: 123456789</p>
                    <p class="customer-data">Data: 29/08/1999</p>
                    <p class="customer-data">Telefone: 987675432</p>
                    <p class="customer-data">Email: Rusbehehe@gmail.com</p>
                    <p class="customer-data">Senha: alguma qualquer</p>
                </section>
                <section class="customer-item-card">
                    <img src="../src/img/customer.png" alt="Michael Jackson">
                    <p class="customer-name">Michael Jackson</p>
                    <p class="customer-data">CPF: 123456789</p>
                    <p class="customer-data">Data: 29/08/1999</p>
                    <p class="customer-data">Telefone: 987675432</p>
                    <p class="customer-data">Email: Rusbehehe@gmail.com</p>
                    <p class="customer-data">Senha: alguma qualquer</p>
                </section>
            </section>
        </section>
    </main>    

    <footer>
        <section id="footer-box">
            <section class="footer-content">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <p>Central de Ajuda</p>
                <p>Como Comprar</p>
                <p>Métodos de Pagamento</p>
                <p>Garantia Xhopii</p>
                <p>Devolução e Reembolso</p>
                <p>Fale Conosco</p>
                <p>Perguntas Frequentes</p>
            </section>

            <section class="footer-content">
                <h4>SOBRE A XHOPII</h4>
                <p>Sobre Nós</p>
                <p>Políticas Xhopii</p>
                <p>Política de Privacidade</p>
                <p>Programa de Aliados da Xhopii</p>
                <p>Seja um Entregador Xhopii</p>
                <p>Ofertas Relâmpago</p>
                <p>Xhopii Blog</p>
                <p>Imprensa</p>
            </section>

            <section class="footer-content">
                <h4>PAGAMENTO</h4>
                <p>
                    <img src="../src/img/Pagamento-pix.jpg" alt="" />
                    <img src="../src/img/Pagamento-boleto.png" alt="" />
                    <img src="../src/img/Pagamento-AM.png" alt="" />
                </p>
                <p>
                    <img src="../src/img/Pagamento-Visa.png" alt="" />
                    <img src="../src/img/Pagamento-Mastercard.png" alt="" />
                    <img src="../src/img/Pagamento-Hipercard.png" alt="" />
                </p>
                <img src="../src/img/Pagamento-ELC.png" alt="" />
            </section>

            <section id="footer-img">
                <h4>SIGA-NOS</h4>
                <p><img src="../src/img/Logo-instagram.jpg" alt="" />instagram</p>
                <p><img src="../src/img/Logo-twitter.png" alt="" />twitter</p>
                <p><img src="../src/img/Logo-facebook.png" alt="" />facebook</p>
                <p><img src="../src/img/Logo-youtube.png" alt="" />youtube</p>
                <p><img src="../src/img/Logo-linkedin.png" alt="" />linkedin</p>    
            </section>

            <section id="footer-cliente">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <img id="qr-code" src="../src/img/qr-code.png" alt="" />
                <img src="../src/img/Logo-googleplay.png" alt="" />
                <img src="../src/img/Logo-appstore.png" alt="" />
            </section>
        </section>

        <hr />

        <section id="footer-bottom">
            <p>© 2023 Xhopii. Todos os direitos reservados</p>
        </section>
    </footer>
</body>
</html>